<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/style.css" >
</head>
<body>
    <!-- Register form -->
    <h1 class="login" >Register</h1>
    <form method="POST" action="/register">
        <input type="text" name="username" placeholder = "username"/>
        <input type="submit" value="Sign Up"/>
    </form>
    <p></p>
    <!-- URL for login page -->
    <a href="{{url_for('login')}}">Login</a>
</body>
</html>