body{
  background: rgb(231,176,157);
background: linear-gradient(90deg, rgba(231,176,157,1) 35%, rgba(228,141,81,0.9346113445378151) 100%);
}

h1{
  color: #A6CF98; 
    text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black;
    font-size: 60px;
}