body{
  background: rgb(231,176,157);
background: linear-gradient(90deg, rgba(231,176,157,1) 35%, rgba(228,141,81,0.9346113445378151) 100%);
}


.header, .login{
    color: #A6CF98; 
    text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black;
    font-size: 60px;
}

img{
    border: 1px solid #ddd;
  border-radius: 20px;
    height: 500px;
    width: 400px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.movie-data{
  
  text-align: center;
}



.comment-sec{
  margin: auto;
  width: 50%;
  padding: 10px;
  background-color: #A6CF98;
  outline: .5px black;
  box-shadow: 10px 10px grey;
  text-align: center;
}

.logout-btn{
  background-color: #A6CF98;
  font-size: 20px;

}

